.logo {
  filter: grayscale(1);
  display: block;
  opacity: 0.5;
  transition: opacity linear 250ms, filter linear 250ms;
  width: 8em;

  &:hover {
    filter: grayscale(0%);
    opacity: 1;

    div {
      opacity: 1 !important;
    }
  }

  // Center image vertically in parent tag without stretching it
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.companies {
  height: 100%;
  width: 80%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: xx-large;
  color: #666;
  padding-bottom: 15px;
}
